<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chronia.persistence.mappers.manual.ManualBlogMapper">
    <select id="getBlogsWithPagination" resultType="com.chronia.persistence.models.manual.ManualBlog">
        select
            blogs.content,
            comments_temp.comment_count as comments,
            blogs.date,
            blogs.id,
            likes_temp.like_count as likes,
            blogs.title
        from blogs
        left join (
            select
                count(*) as like_count,
                blog_id
            from likes
            group by blog_id
        ) likes_temp
            on likes_temp.blog_id = blogs.id
        left join (
            select
                count(*) as comment_count,
                blog_id
            from comments
            group by blog_id
        ) comments_temp
            on comments_temp.blog_id = blogs.id
        order by blogs.id
        limit #{pageSize} offset #{offset}
    </select>
</mapper>
